/* font family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans", sans-serif;
}
/* universal */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* universal style end */

/* shared all style */
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    font-size:0.8rem;
    padding:8px 8px 8px 8px;
    border-radius:3px;
    color:white;
    border:none;

}

/* display-flex */
.display-flex{
    display:flex;
}

/* header part style */
.header{
    max-width:100%;
    height:900px;
    margin-bottom:100px;
    
    background-color:rgba(255, 144, 14, 0.1);
}


/* nav er style */
.nav{
    justify-content: space-between;
    margin:0 auto;
    /* margin-top:30px; */
    padding:30px 120px;
}
.list-item{
    list-style:none;
    
}
.link-item{
    text-decoration:none;
    color:rgba(66, 66, 66, 1);
    
}
.navbar{
    gap:30px;
    
}
.nav-title{
    font-weight:600;
    font-size:2rem;
    color:rgba(19, 19, 19, 1);

}
/* banner part */
.banner-content{
    max-width:600px;
    margin:0 auto;
    text-align:center;
    margin-top:40px;

    
}
.banner-title{
    color:rgba(19, 19, 19, 1);
    font-weight:600;
    font-size:2.5rem;
}
.banner-description{
    color:rgba(114, 114, 114, 1);
    font-size:1rem;
}
.banner-image{
    max-width:1300px;
    height:540px;
    margin:0 auto;
    margin-top:30px;
}
.banner-image img{
    width:100%;
    height:100%;
}

/* team work part style */
.teams{
    max-width:1300px;
    height:500px;
    
    display:flex;
    align-items:center;
    margin:0 auto;
    margin-bottom:100px;
}
.team-img-container{
    
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}
.team-img-container img{
    width:300px;
    height:240px;
}
.team-content{
    margin-left:100px;

}
.team-title{
    color:rgba(114, 114, 114, 1);
    font-weight:600;
    font-size:2rem;
}
.black{
    color:rgba(19, 19, 19, 1);
    font-weight:700;

}
.orange{
    font-weight:700;
    color:rgba(255, 144, 14, 1);
}
.team-description{
    color:rgba(114, 114, 114, 1);
    font-size:0.8rem;
    margin-top:20px;
    margin-bottom:20px;
}

/* love-and-enjoy style */
.love-and-enjoy{
    max-width:1300px;
    /* height:700px; */
    
    display:flex;
    margin:0 auto;
    gap:200px;
    margin-bottom:200px;
}
.love-title{
    font-weight:700;
    font-size:1.8rem;
    color:rgba(19, 19, 19, 1);
    border-left: 3px solid rgba(255, 144, 14, 1);
    padding-left:20px;
    margin-bottom:15px;
}
.love-description{
    color:rgba(114, 114, 114, 1);
    font-size:0.8rem;

}
.love-content{
    width:40%;
}


.card-title{
    font-weight:700;
    font-size:1rem;
    padding:20px;

}
.card-description{
    color:rgba(114, 114, 114, 1);
    font-size:0.8rem;
    padding:20px;
}
.feature-card{
    box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06);
    gap:30px;
    border-radius:8px;
    
}
.love-pic{
    /* max-width:1000px; */
    height:750px;
    
}
.love-pic img{
    width:100%;
    height:100%;
}
.year{
    font-weight:700;
    font-size:2.5rem;
    color:rgba(255, 255, 255, 1);
}
.experience{
    font-weight:500;
    font-size:1rem;
    color:rgba(255, 255, 255, 1);

}
#btn{
    padding:20px 18px 20px 18px;
    margin-left:-100px;
    margin-top:-100px;
}

/* facts container style */
.facts-title{
    font-size:700;
    font-size:1.5rem;
    color:rgba(19, 19, 19, 1);
    margin-bottom:15px;
}
.facts-description{
    font-size:0.8rem;
    color:rgba(114, 114, 114, 1);

}

/* facts container style */
.facts-container{
    max-width:1300px;
    height:300px;
    margin:0 auto;
    margin-bottom:100px;
}
.facts-details{
    width:1300px;
    margin-top:60px;
    margin-left:80px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
    
}
.fact{
    border: 1px solid rgba(255, 144, 14, 1);
    width:150px;
    height:150px;
    border-radius:8px;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    
}
.fact-number{
    color:rgba(66, 66, 66, 1);
    font-size:1.5rem;
}
.fact-name{
    color:rgba(114, 114, 114, 1);
    font-weight:600;
    font-size:0.8rem;
}

/* sponsor part */
.sponsor-title{
    color:rgba(19, 19, 19, 1);
    font-weight:700;
    font-size:1.5rem;
}
.sponsor-description{
    color:rgba(114, 114, 114, 1);
    font-size:0.8rem;
}
.sponsor-content{
    text-align: center;
}
.sponsor{
    width:1300px;
    margin:0 auto;
    margin-bottom:100px;
}
.sponsor-company img{
    width:80px;
    height:50px;
    filter:grayscale(100%);
    
}
.sponsor-company {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top:50px;
    margin-left:150px;
}


/* media query */
@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
    }
    .navbar{
        flex-direction:column;
    }
    .banner-image{
        height:300px;
    }
    .teams{
        flex-direction: column;
        gap:50px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-content{
        margin-left:20px;
    }
    .love-and-enjoy{
        margin-top:850px;
        flex-direction: column;
        gap:30px;
    }
    .love-content{
        width:100%;
    }
    .love-pic img{
        height:50%;
        width:100%;
    }
    #btn{
        margin-left:90px;
        margin-top:0px;
    }
    
    .facts-details{
        grid-template-columns: repeat(1, 1fr);
        gap:15px;
        width:0%;
    }
    .facts-container{
        align-items: center;
        margin-top:-250px;
    }
    .sponsor{
        width:100%;
        margin-top:700px;
        
    }
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
        gap:40px;
        align-items: center;
    }
    
        
        
        
   
    
    
}